body {
    /*height: 100%;*/
    width: 100%;
    /*position: relative;*/
    font-family: 'Alef', sans-serif;
}

#bg {
    background-image: url('bg.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    /*opacity: 0.5;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0.3;
}

#cart-well {
    background-color: #dbdbdb;
}

.container {
    /*position: relative;*/
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 0;
    min-height: 50%;
    /*opacity: 0.50;*/
    /*background: blue;*/
    background-color: rgba(245, 245, 245, 0.0);
    border: #6d501c 0px solid;
    border-radius: 20px;
    color: black;
}

#generated-container {
    background-color: rgba(255,255,255,1);
    padding-right: 40px;
    padding-left: 20px;
    border-bottom: red solid;
}

#h-container {
    background-color: red;
}

#stock {
    /*margin: 20px 0 35px 0;*/
    /*margin-left: 20px;*/
    min-height: 80px;
    direction: rtl;
    opacity: 100%;
}

.no-border {
    margin: 0;
}

div h1,h2 {
    margin: 0;
}
.follow {
    margin-top: 20px;
}

p, h1, h2, h3, h4 {
    direction: rtl;
}

#head-logo {
    font-family: 'Alef', sans-serif;
    /*background-image: url('bgtop.png');*/
    background-repeat: repeat;
    /*background-color: black;*/
    background-size: auto;
    color: white;
    width: 100%;
    margin: 0;
    min-height: 100px;
}

#main-part {
    margin-top: 200px;

}

.btn {
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    width: 90%;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alef', sans-serif;
}

#change-stock {
    font-size: 2em;
}

#add-to-cart {
    font-size: 1.5em;

}

li {
    margin-bottom: 10px;
}